body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("pokertable.jpg");
    background-size: cover;
    color: white;
    text-align: center;
}

.main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

h1 {
    color: goldenrod;
    text-shadow: 1px 1px 1px black;
}

p {
    font-style: italic;
}

button{
    font-size: 1.5rem;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: goldenrod;
    color: #016f32;
}