body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: whitesmoke;
    text-align: center;
    color: #130e0f;
}

h1{
    font-weight: 200;
    letter-spacing: 2px;
}



#pic-render{
    width: 100%;
}

.image-tag{
    width: 400px;
    border-radius: 10%;
    margin: 10px;
}
